.App {
  text-align: center;
}

body {
  background-color: #80806b;
}

.nav-bar {
  height: 100px;
  margin: 20px;
}

.page-nav {
  font-size: 20px;
  color: rgb(193, 193, 177);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 140px;
}

.page-nav a {
  text-decoration: none;
  margin-left: -10px
}

.page-nav ul li {
  font-size: 30px;
  list-style-type: none;
  display: inline-block;
  margin: 30px;
}

.selected {
  color: rgb(106, 94, 64);
}

.not-selected {
  color: rgb(225, 225, 194);
}

.social-header {
  justify-content: right;
  display: flex;
  width: 100%;
}

.social-footer {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: -20px;
}

.socials li {
  justify-content: left;
  list-style-type: none;
  display: inline-block;
}

.socials li img {
  justify-content: left;
  height: 25px;
  margin-left: 10px;
}

.logo-contain {
  display: flex;
  justify-content: left;
}

.logo {
  width: 275px;
  margin-top: -120px;
  margin-left: 20px;
  border-radius: 100px;
}

.container {
  display: flex;
  justify-content: center;
}

.core {
  background-color: rgb(193, 193, 177);
  margin-top: 10px;
  margin-bottom: 40px;
  width: 1100px;
  height: 475px;
}

.about {
  justify-content: center;
}

.about div {
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
}

.about img {
  height: 200px;
  width: 200px;
  border: 5px solid white;
  display: inline-block;
  margin-top: 75px;
  margin-left: 45px;
  margin-right: 45px;
}

.about p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(101, 101, 91);
  font-size: 20px;
  display: inline-block;
  width: 750px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}





.alert {
  color: rgb(212, 74, 74);
}





.resume div {
  width: 100%;
  text-align: center;
  margin-top: 85px;
}

.resume div img {
  width: 30px;
  display: inline;
  opacity: 50%;
}

.resume div a {
  text-decoration: none;
}

.resume div a h2 {
  color: rgb(78, 69, 46);
  font-size: 25px;
}

.skills {
  color: rgb(78, 69, 46);
  margin-top: 50px;
}

.skills p {
  color: rgb(101, 101, 91);
}

