.App {
  text-align: center;
}

.socials {
  display: flex;
  justify-content: right;
  width: 50%;
}

.socials ul li {
  justify-content: left;
  list-style-type: none;
  display: inline-block;
}

.socials ul li img {
  justify-content: left;
  height: 25px;
  margin-left: 10px;
}